/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* COLORS */
:root {
  /* Content Colors */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background Colors */
  --background-primary: #020202;
  --background-seconday: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  background-gray: #3D3D3D;
  
  /* Accent Colors */
  --ccent-pink: #D586E0;
  --ccent-blue: #91A1FA;
  --ccent-green: #77C0A;
  --ccent-lime: #D1DC97;
  --ccent-red: #E9A9B3;

  /* Gradients */
  --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);
}

/* TYPOGRAPHY */
:root {
  /* Font Family */
  /* Font Sizes */
  /* Font Weights */
  --h1: var(--fw-xbold) var(--fs-24)/1.32 var(--archivo-ff);
}

/* LAYOUT */
:root {
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s48: 3rem;
}

/* Utility Classes */
.container {
  max-width: 375px;
  margin: auto;
  padding: 20px;
}

.desktop-only { display: none; }
.mobile-only { display: initial; }

@media (width > 375px) {
  .container {
    max-width: 1440px;
  }
}
