/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}



/* COLORS */
:root {
  /* Content Colors */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background Colors */
  --background-primary: #020202;
  --background-seconday: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;
  
  /* Accent Colors */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  /* Gradients */
  --gradient-border: linear-gradient(
    #77C0AF 0%, 
    #D1DC97 14.84%, 
    #E9A9B3 32.15%,
    #D586E0 65.79%,
    #91A1FA 84.58%);
  --gradient-background: linear-gradient(
    #D586E0 0%,
    #91A1FA 98.93%);
  --gradient-content: linear-gradient(
    rgba(0, 0, 0, 0.65) 100%,
    transparent 100%
  );

  body {
    min-height: 100vh;
    color: var(--content-primary);

    background-image: 
      var(--gradient-content), 
      url('assets/images/background.png');
  }

  h3 {
    color: var(--content-brand);
  }

  .paragraph-small {
    color: var(--content-secondary);
  }

  button {
    color: var(--content-primary);
  }

  .overline {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.30) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}



/* TYPOGRAPHY */
:root {
  /* Font Family */
  --sora-family: "Sora", sans-serif;
  --roboto-mono-family: "Roboto Mono", monospace;
  --roboto-flex-family: "Roboto Flex", sans-serif;

  /* Font Sizes */
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;

  /* Font Weights */
  --fw-extra-bold: 800; 
  --fw-bold: 700; 
  --fw-medim: 500; 

  /* Line Heights */
  --flh-130: 1.30;
  --flh-150: 1.50;
  
  /* Font Combinations */
  /* General */
  .display-large, .display-medium, .display-small, .overline, .label-large, .label-medium {
    text-transform: uppercase;
  }
  
  /* Display Typography */
  .display-large {
    font: var(--fw-extra-bold) var(--fs-72)/var(--flh-130) var(--sora-family);
  }
  .display-medium {
    font: var(--fw-extra-bold) var(--fs-40)/var(--flh-130) var(--sora-family);
  }
  .display-small, input {
    font: var(--fw-bold) var(--fs-32)/var(--flh-130) var(--sora-family);
  }
  .overline {
    font: var(--fw-bold) var(--fs-16)/var(--flh-150) var(--roboto-mono-family)
  }

  /* Paragraphs Typography*/
  .paragraph-large {
    font: var(--fw-medim) var(--fs-16)/var(--flh-150) var(--roboto-flex-family)
  }
  .paragraph-medium {
    font: var(--fw-medim) var(--fs-14)/var(--flh-150) var(--roboto-flex-family)
  }
  .paragraph-small {
    font: var(--fw-medim) var(--fs-12)/var(--flh-150) var(--roboto-flex-family)
  }

  /* Labels Typography*/
  .label-large {
    font: var(--fw-bold) var(--fs-20)/var(--flh-150) var(--roboto-flex-family)
  }
  .label-medium {
    font: var(--fw-bold) var(--fs-16)/var(--flh-150) var(--roboto-flex-family)
  }
}

/* LAYOUT */
:root {
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s44: 2.75rem;
  --s48: 3rem;
}

/* Utility Classes */
.container {
  max-width: 390px;
  margin: auto;
  padding: var(--s44) var(--s36);
}

.desktop-only { display: none; }
.mobile-only { display: initial; }

header {
  margin-bottom: --s;
    & .overline {
      margin-bottom: var(--s8);
  }
}

h1 {
  margin-bottom: var(--s44);
}
h2 {
  margin-bottom: var(--s4);
}

form {
  & header {
    & p {
      margin-bottom: var(--fs-40);
    }
  }
}

@media (width > 390px) {
  .container {
    max-width: 1336px;
  }
}



/* COMPONENTS */
/* Logo Component */
#logo {
  margin: 0 auto;
  margin-bottom: var(--s44);
}

/* Form Component */
fieldset {
  border: none;
  display: flex;
  justify-content: center;
  gap: var(--s12);
  margin-bottom: var(--s20);
}

/* Number Field Component */
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;

  & label {
    margin-bottom: var(--s8);
    transition: color 100ms;
  }
  &:hover {
    label {
      color: var(--background-brand);
    }
  }

  & input {
    text-align: center;
    border: none;

    border: 2px solid transparent;

    background-color: var(--background-tertiary);
    color: var(--content-primary);

    width: 85px;
    height: 55px;
    border-radius: 8px;

    /* Remove the default arrows on the side */
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Add the gradient for hover, focus and active states */
    &:hover, &:focus, &:active {
      /* Reset the styling */
      outline: none;

      background-image:
      linear-gradient(var(--background-tertiary), var(--background-tertiary)),
      linear-gradient(90deg,
        #77C0AF 0%,
        #D1DC97 14.84%,
        #E9A9B3 32.15%,
        #D586E0 65.79%,
        #91A1FA 84.58%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      border: 2px solid transparent;
    }
  }
}

